# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/

# Entorno
.env

# IDE
.vscode/
.idea/

# Docker
postgres_data/

# Tests
.pytest_cache/
htmlcov/
.coverage

# OS
.DS_Store
Thumbs.db
